{{template "base" .}}

{{define "main"}}
    <h1>Design</h1>

    <div class="container">
        <div class="card">
            <div class="card-img">
                <img src="/static/img/macbook_rose.jpg">
            </div>
            <div class="card-content">
                <div class="card-content-text">
                    <h2>Macbook Air 1000</h2>
                    <h3 class="price">2500$</h3>
                </div>
                <a class="btn" href="#">Add to cart</a>
            </div>
        </div>


        <div class="card">
            <div class="card-img">
                <img src="/static/img/macbook_rose.jpg">
            </div>
            <div class="card-content">
                <h2>Macbook Air 1000</h2>
                <a class="btn" href="#">Add to cart</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="/static/img/macbook_rose.jpg">
            </div>
            <div class="card-content">
                <h2>Macbook Air 1000</h2>
                <a class="btn" href="#">Add to cart</a>
            </div>
        </div>



        <div class="card">
            <div class="card-img">
                <img src="/static/img/macbook_rose.jpg">
            </div>
            <div class="card-content">
                <h2>Macbook Air 1000</h2>
                <a class="btn" href="#">Add to cart</a>
            </div>
        </div>



        <div class="card">
            <div class="card-img">
                <img src="/static/img/macbook_rose.jpg">
            </div>
            <div class="card-content">
                <h2>Macbook Air 1000</h2>
                <a class="btn" href="#">Add to cart</a>
            </div>
        </div>

    </div>
{{end}}